
# Configuration for Themes and topic sync script
MWS_FETCH_URL_THEMES_TOPICS=http://localhost:4502/content/
MWS_USERNAME=admin
MWS_PASSWORD=admin
THEMES_TOPICS_HTML_PATH=../src/themes-topics/index.html
